.difficulty {
    position: relative;
    @include sprite-item(11, 32);
    .level-1 {
        @include sprite-item(17, 32);
    }
    .level-2 {
        @include sprite-item(16, 32);
    }
    .level-3 {
        @include sprite-item(15, 32);
    }
    .level-4 {
        @include sprite-item(14, 32);
    }
    .level-5 {
        @include sprite-item(13, 32);
    }
    .level-6 {
        @include sprite-item(12, 32);
    }
    .arrow-1-0 {
        @include sprite-item(10, 32);
    }
    .arrow-1-5 {
        @include sprite-item(9, 32);
    }
    .arrow-2-0 {
        @include sprite-item(8, 32);
    }
    .arrow-2-5 {
        @include sprite-item(7, 32);
    }
    .arrow-3-0 {
        @include sprite-item(6, 32);
    }
    .arrow-3-5 {
        @include sprite-item(5, 32);
    }
    .arrow-4-0 {
        @include sprite-item(4, 32);
    }
    .arrow-4-5 {
        @include sprite-item(3, 32);
    }
    .arrow-5-0 {
        @include sprite-item(2, 32);
    }
    .arrow-5-5 {
        @include sprite-item(1, 32);
    }
    .arrow-6-0 {
        @include sprite-item(0, 32);
    }
    > div {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.difficulty, .difficulty > div {
    width: 49px;
    height: 32px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(/img/difficulty.png);
    background-size: 49px 576px;
}