.flag-icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    &.size-small {
        width: 24px;
        height: 16px;
    }
    &.size-normal {
        width: 32px;
        height: 21px;
    }
    &.size-large {
        width: 48px;
        height: 32px;
    }
}