.legend {
    color: black;
    /*width: 280px;*/
    position: absolute;
    top:65px;
    left: calc(50% + 8px);
    margin-left: 380px;

    background: rgba(255,255,255,.5);
    white-space: nowrap;
    padding: 1em;
    border-radius: 3px;

    .legend-color {
        text-transform: uppercase;
        font-weight: bold;
    }
    .legend-color.legend-color-red   { color: #ff6666; text-shadow: 1px 1px 1px rgba(0,0,0,.7); }
    .legend-color.legend-color-black { color: black; }
    .legend-color.legend-color-green { color: #00b900; text-shadow: 1px 1px 1px rgba(0,0,0,0.9); }

    div {
        display: table;

        > div {
            display: table-row;

            > div:not(.stars) {
                display: table-cell;
                padding: 0 1em 0 0;
            }
        }
    }
}
