.vocabulary-dialog {
    width: 400px;
    .el-dialog__header {
        padding: 5px 10px;
        border-bottom: 1px solid $opaque-panel-color;
        .title {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            align-items: center;
            color: $opaque-panel-color;
            font-weight: bold;
            text-align: left;
            > div {
                flex-grow: 1;
            }
        }
    }
    .el-dialog__body {
        padding: 0;
        .definition {
            padding: 20px 10px;
            border-bottom: 1px solid $opaque-panel-color;
            margin-bottom: 10px;
            position: relative;
            &:before, &:after {
                content: " ";
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                position: absolute;
                left: 50%;
                border-width: 10px 15px 0 15px;
                transform: translateX(-15px);
            }
            &:before {
                z-index: 1;
                bottom: -10px;
                border-color: #6980fe transparent transparent transparent;
            }
            &:after {
                z-index: 2;
                bottom: -9px;
                border-color: #fff transparent transparent transparent;
            }
        }
        .image {
            padding: 10px 10px 20px 10px;
            img {
                display: block;
                margin: 15px auto 0 auto;
                max-width: 300px;
            }
        }
        .samples {
            padding: 10px 10px 20px 10px;
            border-top: 1px solid $opaque-panel-color;
            > div {
                display: flex;
                align-items: top;
                .text {
                    flex-grow: 1;
                    display: inline-block;
                    margin-top: 3px;
                    margin-left: 10px;
                    &:before, &:after {
                        content: '"';
                    }
                }
                + div {
                    margin-top: 10px;
                }
            }
            .audio .text {
                margin-top: 8px;
            }
            .translation .text {
                margin-top: 3px;
            }
            .flag-icon {
                outline: 1px solid #eee; 
            }
            .speaker {
                width: 32px;
                height: 32px;
                position: relative;
                a {
                    opacity: 0.7;
                    &:hover {
                        opacity: 1;
                    }
                }
                .loading-container {
                    width: 48px;
                    height: 48px;
                    position: absolute;
                    top: -8px;
                    left: -8px;
                    .overlay {
                        width: 100%;
                        height: 100%;
                    }
                    .el-loading-mask {
                        background-color: rgba(255, 255, 255, 0.3);
                    }
                }
                &.playing {
                    .icon-sound {
                        border-radius: 50%;
                        background-color: #FFFF00;
                        opacity: 1;
                    }
                }
            }
        }
        .definition + .samples {
            border-top: 0;
        }
    }
    .el-dialog__footer {
        padding: 10px;
        text-align: center;
        button {
            width: 100%;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}